<ion-header>
  <ion-toolbar color="primary">
    <ion-button (click)="presentActionSheet()" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="language-outline" color="light"></ion-icon>
    </ion-button>
    <ion-title slot="start">{{'Account.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card (click)="presentActionSheetChangeCred()" class="cardconteudo">
    <ion-card-header class="testo">
      <ion-avatar class="avatar">
        <ion-img src="assets/icon/profilo.jpg"></ion-img>
      </ion-avatar>
      <ion-card-title color="tertiary"><b>{{ user?.name }} {{ user?.surname }}</b></ion-card-title>
      <ion-card-subtitle color="dark">{{user?.email}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <div class="buttons">
    <ion-button (click)="toPreferences()" fill="outline">
      <ion-icon name="star" slot="start"></ion-icon>
      {{'Preferenze.title' | translate}}
    </ion-button>
    <ion-button fill="clear" (click)="signOut()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      {{'Settings.logOut' | translate}}
    </ion-button>
  </div>

</ion-content>
